<div class="hero">
    <div class="d-flex align-items-center text-white pt-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Gestiona de manera rapida y sencilla</h1>
                    <br>
                    <p class="fs-5 lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam doloribus cum aliquid cumque similique eveniet, maiores repudiandae 
                        corrupti corporis praesentium ipsa perferendis explicabo delectus nemo?
                    </p>
                    <br>
                    <a target="_blank" href="/" mat-raised-button color="warn" class="w-50 py-1 text-uppercase" >Suscribete Gratis!</a>
                </div>
                <div class="col-lg-6 text-center">
                    <img src="../../../assets/images/img-hero.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <img src="../../../assets/images/img-wave-hero.svg" alt="" class="img-fluid">
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-lg-6 col-md-5 order-2 order-lg-1">
            <img src="../../../assets/images/img-asistenmed-nosotros.jpeg" alt="" class="img-fluid shadow-sm">
        </div>
        <div class="col-lg-6 col-md-7 order-1 order-lg-2 mb-3">
            <div class="ps-lg-4">
               
                <h2 class="h2 encabezado text-primary">Asistenmed &nbsp;</h2>
                 <hr class="dropdown-divider">
                 <p class="fs-6">
                     Es un software que permite gestionar, optimizar y simplificar procesos u operaciones en la atención de 
                     usuarios en centros médicos y consultorios privados, permite registrar pacientes, médicos, farmacias, laboratorios, 
                     entre otros.
                 </p>
                 <p class="fs-6">
                     Con <strong>Asistenmed</strong> podrás parametrizar de manera sencilla y fluida operaciones tales como, atención de consulta externa (primera vez, control), 
                     generación de ordenes médicas (exámenes de laboratorio, imagenología y formulación de medicamentos). 
                     Como resultado del registro de las operaciones, el software permite generar la Historia clínica de pacientes, Epicrisis y RIPS.
 
                 </p>
                 <a href="/acerca_de" mat-raised-button color="primary" class="w-50 py-1 text-uppercase">Comienza Gratis!</a>
            </div>
        </div>
       
    </div>
</div>

<!--==========================
    OFERTADOS
============================-->
<section class="my-5">
    <div class="container">
        <div class="text-rigth">
            <h2 class="text-primary h2 text-capitalize">Somos tu mejor herramienta</h2>
            <hr class="dropdown-divider">
            <p class="fs-6">
                Somos una Sociedad, especializada en el campo quirúrgico con experiencia en el manejo de la cirugía
                ambulatoria y laparoscópica, con sede en la ciudad de Barranquilla, localizados en el centro Médico.
            </p>
        </div>
        <div class="container mt-5">
            
            <div class="row text-center">
                <div class="col-lg-4 col-md-4 col-6 card rounded-0  p-lg-5 bg-primary bg-gradient bg-opacity-10" matRipple>
                    <img src="../../../assets/images/img-inicio-sesion.svg" alt="" class="img-fluid w-75 m-auto">
                    <h3 class="h2 text-primary text-capitalize fw-normal">base de datos</h3>
                    <p class="fs-6">
                        Tu centro médico bajo control, toda la información de tus pacientes en tiempo real.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-6 card rounded-0  p-lg-5 bg-primary bg-gradient bg-opacity-25" matRipple>
                   <img src="../../../assets/images/img-inicio-sesion-dos.svg" alt="" class="img-fluid w-75 m-auto">
                   <h3 class="h2 text-primary text-capitalize fw-normal">super agil</h3>
                    <p class="fs-6">
                        Todos tus problemas de gestión y operación resueltos con una única plataforma.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 card rounded-0  p-lg-5 bg-primary bg-gradient bg-opacity-50" matRipple>
                    <img src="../../../assets/images/img-inicio-sesion.svg" alt="" class="img-fluid w-75 m-auto">
                    <h3 class="h2 text-primary text-capitalize fw-normal">historia clinica</h3>
                    <p class="fs-6">
                        Seguimiento a los pacientes a través del registro de antecedentes médicos y su historia clínica.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-6 card rounded-0  p-lg-5 bg-primary bg-opacity-10" matRipple>
                    <img src="../../../assets/images/img-inicio-sesion.svg" alt="" class="img-fluid w-75 m-auto">
                    <h3 class="h2 text-primary text-capitalize fw-normal">ciberseguridad</h3>
                    <p class="fs-6">
                        Acceso seguro a través de comunicación cifrada, y credenciales individuales para cada usuario.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-6 card rounded-0  p-lg-5 bg-primary bg-opacity-25" matRipple>
                   <img src="../../../assets/images/img-inicio-sesion-dos.svg" alt="" class="img-fluid w-75 m-auto">
                   <h3 class="h2 text-primary text-capitalize fw-normal">ahorra tiempo</h3>
                    <p class="fs-6">
                        En la generación Registros Individuales de Prestación de Servicios de Salud RIPS.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 card rounded-0  p-lg-5 bg-primary bg-opacity-50" matRipple>
                    <img src="../../../assets/images/img-inicio-sesion.svg" alt="" class="img-fluid w-75 m-auto">
                    <h3 class="h2 text-primary text-capitalize fw-normal">Disponibilidad</h3>
                    <p class="fs-6">
                        Disponible y de fácil acceso al sistema de información de cada centro médico registrado.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!--==========================
    BANNER
============================-->
<section class="banner">
    <div class="container">
      <div class="row justify-content-center align-items-center text-white">
        <div class="col-lg-8 py-5 text-center">
          <h2 class="h2 text-capitalize">Gestiona de manera rapida y sencilla</h2>
          <hr class="dropdown-divider">
          <p class="fs-6">
            Con nuestra solución podrás atender oportunamente, centrando tu atención en el paciente y 
            no en las características de un software complejo y tedioso, hazlo con ASISTENMED de la manera más ágil.
          </p>
          <a target="_blank" href="/" mat-raised-button color="warn" class="w-50 py-1 mt-4 text-uppercase">Suscribete Gratis!</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
    CARACTERISTICAS / FUNCIONALIDADES
============================-->

<section class="mt-5" >
    <div class="container">
        <div class="row text-center">
            <h2 class=" h2 text-primary text-capitalize text-center fw-normal">Caracteristicas funcionales</h2>
            <hr class="dropdown-divider">
        </div>
        <div class="row mt-5">
            <div class="col-md-4 mb-3">
                <div class="d-flex flex-nowrap">
                    <div class="w-25 me-3">
                        <img src="../../../assets/images/prueba.png" alt="" class="img-fluid">
                    </div>
                    <h3 class="fs-5 text-primary text-capitalize ">agendamiento de citas medicas</h3>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="d-flex flex-nowrap">
                    <div class="w-25 me-3">
                        <img src="../../../assets/images/prueba.png" alt="" class="img-fluid">
                    </div>
                    <h3 class="fs-5 text-primary text-capitalize w-75">Generación de RIPS y Reportes</h3>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="d-flex flex-nowrap">
                    <div class="w-25 me-3">
                        <img src="../../../assets/images/prueba.png" alt="" class="img-fluid">
                    </div>
                    <h3 class="fs-5 text-primary text-capitalize w-75">Consultas medicas</h3>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="d-flex flex-nowrap">
                    <div class="w-25 me-3">
                        <img src="../../../assets/images/prueba.png" alt="" class="img-fluid">
                    </div>
                    <h3 class="fs-5 text-primary text-capitalize w-75">CIE 10 y CUPS</h3>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="d-flex flex-nowrap">
                    <div class="w-25 me-3">
                        <img src="../../../assets/images/prueba.png" alt="" class="img-fluid">
                    </div>
                    <h3 class="fs-5 text-primary text-capitalize w-75">emitir remisiones y Epicrisis</h3>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="d-flex flex-nowrap">
                    <div class="w-25 me-3">
                        <img src="../../../assets/images/prueba.png" alt="" class="img-fluid">
                    </div>
                    <h3 class="fs-5 text-primary text-capitalize w-75">Mejoría en la relación Medico-Institución-Paciente</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!--==========================
    TESTIMONIALES
============================-->
  <section class="py-5 mt-5 d-none d-lg-block bg-carousel ">
    <div class="container mb-5">
        <h2 class="text-primary h2 text-capitalize">Qué opinan nuestros clientes</h2>
        <hr class="dropdown-divider">
        <p class="fs-6">
            Somos una Sociedad, especializada en el campo quirúrgico con experiencia en el manejo de la cirugía
            ambulatoria y laparoscópica, con sede en la ciudad de Barranquilla, localizados en el centro Médico.
        </p>
    </div>
    <!--
    <mat-carousel   
    timings="250ms ease-in"
    [autoplay]="true"
    [interval]="5000"
    color="primary"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false" 
    maxWidth="auto"
    [proportion]="25"
    orientation="ltr"
    >
        <mat-carousel-slide 
        #matCarouselSlide
        *ngFor="let slide of slides; let i = index"
        overlayColor=" rgba(255, 255, 255, 0)"
        [hideOverlay]="false"
        >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <div class="shadow-sm">
                        <img [src]="slide.image" alt="" class="img-fluid rounded">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div>
                        <h3 class="text-capitalize text-primary fs-4 m-0">{{slide.title}}</h3>
                        <p class="text-secondary fs-6">Medico especialista en anestesiologia</p> 
                        <hr class="dropdown-divider w-50">
                        <blockquote class="blockquote">
                            <mat-icon color="warn">format_quote</mat-icon>
                            <p>{{slide.parr}}</p> 
                            <p>{{slide.parr}}</p> 
                        </blockquote>
                    </div>
                    
                </div>
            </div>
        </div>
        </mat-carousel-slide>
    </mat-carousel>
    -->
</section>

<!--==========================
    TESTIMONIALES SMALL
============================-->
<div class="container py-5 d-block d-lg-none">
    <h2 class="text-primary h2 text-capitalize">Qué opinan nuestros clientes</h2>
    <hr class="dropdown-divider">
    <p class="fs-6">
        Somos una Sociedad, especializada en el campo quirúrgico con experiencia en el manejo de la cirugía
        ambulatoria y laparoscópica, con sede en la ciudad de Barranquilla, localizados en el centro Médico.
    </p>
    <div class="row justify-content-center">
        <div class="col-sm-12" *ngFor="let slide of slides; let i = index">
            <div class="card mb-3">
                <img [src]="slide.image" alt="" class="img-fluid rounded">
                <div class="card-body">
                    <h3 class="text-capitalize text-primary fs-4 m-0">{{slide.title}}</h3>
                    <p class="text-secondary fs-6">Medico especialista en anestesiologia</p> 
                    <hr class="dropdown-divider w-50">
                    <blockquote class="blockquote">
                        <mat-icon color="warn">format_quote</mat-icon>
                        <p>{{slide.parr}}</p> 
                        <p>{{slide.parr}}</p> 
                        <p>{{slide.parr}}</p> 
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<!--==========================
    CLIENTES
============================-->
<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="text-primary h2 text-capitalize">Clientes que han confiado en nosotros</h2>
                <hr class="dropdown-divider">
                <p class="fs-6">
                    Somos una Sociedad, especializada en el campo quirúrgico con experiencia en el manejo de la cirugía
                    ambulatoria y laparoscópica, con sede en la ciudad de Barranquilla, localizados en el centro Médico.
                </p>
                <a target="_blank" href="/" mat-raised-button color="warn" class="w-100 py-1 text-uppercase" >has parte de nuestro equipo!</a>
            </div>
            <div class="col-lg-7">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active card shadow-sm h-100">
                                <div class="card-body">
                                    <img src="../../../assets/images/img_logo_jaller.png" alt="" class="img-fluid">
                                    <h3 class="card-title fw-normal m-0">Clínica Jaller Alta Complejidad</h3>
                                    <p class="text-secondary" >
                                        Somos una IPS de III nivel conformado, que busca brindar atención integral en salud con calidad y humanizada, 
                                        teniendo en cuenta los avances científicos y tecnológicos con un equipo humano altamente calificado.
                                    </p>
                                </div>
                              </div>
                              <div class="carousel-item card shadow-sm h-100">
                                <div class="card-body">
                                    <img src="../../../assets/images/img-general-norte-logo.png" alt="" class="img-fluid">
                                    <h3 class="card-title fw-normal m-0">Organización Clínica General del Norte</h3>
                                    <p class="text-secondary" >
                                        somos una institución comprometida con el crecimiento profesional y personal de nuestros colaboradores, 
                                        logrando un alto nivel de compromiso y prestando una atención de excelencia a nuestros pacientes.
                                    </p>
                                </div>
                              </div>
                              <div class="carousel-item card shadow-sm h-100">
                                <div class="card-body">
                                    <img src="../../../assets/images/img_logo_jaller.png" alt="" class="img-fluid">
                                    <h3 class="card-title fw-normal m-0">Clínica Jaller Alta Complejidad</h3>
                                    <p class="text-secondary" >
                                        Somos una IPS de III nivel conformado, que busca brindar atención integral en salud con calidad y humanizada, 
                                        teniendo en cuenta los avances científicos y tecnológicos con un equipo humano altamente calificado.
                                    </p>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                           
                </div>
            </div>
        </div>
    </div>
</section>


<!--==========================
    PUBLICIDAD
============================-->
<section class="position-relative ">
    <div class="overlay"></div>
    
    <div class="position-absolute w-100 h-100">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-6 col-8">
          <div class="card border-0 bg-primary bg-gradient bg-opacity-25 text-white text-center pt-4 pb-1">
            <div class="d-none d-md-block">
                <img src="../../../assets/images/asistenmed-logo/logo-fondo-transparente-blanco-500px.png" alt="Logo construyendo huellas" class="w-25 img-top m-auto" />
                <div class="card-body">
                <p class="text-card m-0">Software de Gestión</p>
                <h1 class="text-uppercase" style="letter-spacing: 2px;">Asistenmed</h1>
                <i class="fs-6">
                    "Gestiona De Manera Rapida Y Sencilla"
                </i>
                </div>
            </div>
            <div class="d-block d-md-none p-2">
                <img src="../../../assets/images/asistenmed-logo/logo-nombre-blanco-1080px.png" alt="Logo construyendo huellas" class="img-fluid m-auto" />
                <p class="text-card m-0">Software de Gestión</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="position-absolute d-none d-md-block" style="bottom: -80px; left: 200px">
      <div class="d-flex">
        <div class="col-lg-10">
          <div class="card border-0 bg-primary bg-gradient text-white shadow-sm">
            <div class="card-body">
              <h2 class="text-capitalize">¿Cual es nuestro objetivo?</h2>
              <p>
                El principal objetivo es desarrollar proyectos que permitan mejorar la
                calidad de vida de las familias, las madres cabezas de hogar, niños y
                jóvenes y la población en condición de discapacidad, impulsando su
                crecimiento, fortaleciendo sus competencias y desarrollando
                herramientas que les permita ser agentes de su propio desarrollo,
                creyendo que los sueños se hacen realidad si se trabajan con
                perseverancia.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <video autoplay muted loop class="w-100 d-block">
      <source src="../../../assets/images/video-objetivo.mp4" type="video/mp4">
    </video>
  </section>
  <div class="d-none d-lg-block" style="margin-bottom: 170px;"></div>
  <div class="card border-0 bg-primary bg-gradient text-white d-block d-lg-none">
    <div class="card-body">
      <h2 class="text-capitalize">¿Cual es nuestro objetivo?</h2>
      <p>
        El principal objetivo es desarrollar proyectos que permitan mejorar la
        calidad de vida de las familias, las madres cabezas de hogar, niños y
        jóvenes y la población en condición de discapacidad, impulsando su
        crecimiento, fortaleciendo sus competencias y desarrollando
        herramientas que les permita ser agentes de su propio desarrollo,
        creyendo que los sueños se hacen realidad si se trabajan con
        perseverancia.
      </p>
    </div>
  </div>
<!--==========================
    BLOG
============================-->

<section class="mt-5">
    <div class="container">
        <div class="text-rigth">
            <h2 class="text-primary h2 text-capitalize text-center">Eventos y noticias de salud</h2>
            <hr class="dropdown-divider">
            <p class="fs-6">
                Somos una Sociedad, especializada en el campo quirúrgico con experiencia en el manejo de la cirugía
                ambulatoria y laparoscópica, con sede en la ciudad de Barranquilla, localizados en el centro Médico.
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 mb-3">
                <div class="card shadow-sm">
                    <img src="../../../assets/images/img-instrumentadora.jpg" class="card-img-top" alt="...">
                    <div class="card-body bg-light bg-opacity-25">
                        <h3 class="card-title text-warning">Misión Médica SAS</h3>
                        <p class="card-text">
                            Diagnóstico y manejo del cáncer ginecológico, lesiones premalignas del tracto genital inferior, Terapia de reemplazo hormonal.
                        </p>
                        <div class="text-muted d-flex align-items-center"><mat-icon>calendar_month</mat-icon><span>29 marzo, 2022</span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card shadow-sm">
                    <img src="../../../assets/images/img-instrumentadora.jpg" class="card-img-top" alt="...">
                    <div class="card-body bg-light bg-opacity-25">
                        <h3 class="card-title text-warning">Misión Médica SAS</h3>
                        <p class="card-text">
                            Diagnóstico y manejo del cáncer ginecológico, lesiones premalignas del tracto genital inferior, Terapia de reemplazo hormonal.
                        </p>
                        <div class="text-muted d-flex align-items-center"><mat-icon>calendar_month</mat-icon><span>29 marzo, 2022</span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card shadow-sm">
                    <img src="../../../assets/images/img-instrumentadora.jpg" class="card-img-top" alt="...">
                    <div class="card-body bg-light bg-opacity-25">
                        <h3 class="card-title text-warning">Misión Médica SAS</h3>
                        <p class="card-text">
                            Diagnóstico y manejo del cáncer ginecológico, lesiones premalignas del tracto genital inferior, Terapia de reemplazo hormonal.
                        </p>
                        <div class="text-muted d-flex align-items-center"><mat-icon>calendar_month</mat-icon><span>29 marzo, 2022</span></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>