<!--==========================
    BANNER
============================-->
<section class="banner">
    <div class="container">
      <div class="row justify-content-center align-items-center text-white">
        <div class="col-lg-8 py-5 text-center">
          <h2 class="h2 text-capitalize">Conoce nuestros planes</h2>
          <hr class="dropdown-divider">
          <p class="fs-6">
              Con nuestra solución podrás atender oportunamente, centrando tu atención en el paciente y 
              no en las características de un software complejo y tedioso, hazlo con ASISTENMED de la manera más ágil.
          </p>
        </div>
      </div>
    </div>
  </section>
