<div class="card shadow-sm animate__animated animate__fadeIn mt-4">
    <div
      class="
        card-header
        bg-primary bg-gradient
        text-white
        d-flex 
        justify-content-between
        align-items-center
      "
    >
      TIPOS DOCUMENTOS
      <div class="btn-group">
        <button
          mat-mini-fab
          color="primary"
          (click)="getListadoTiposDocumentos()"
          matTooltip="Listar registros"
          matTooltipPosition="above"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          (click)="postTiposDocumento()"
          matTooltip="Guardar información"
          matTooltipPosition="above"
          *ngIf="this._botones.botones.btnGuardar"
        >
          <mat-icon>save</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          (click)="putTiposDocumento()"
          matTooltip="Actualizar registro"
          matTooltipPosition="above"
          *ngIf="this._botones.botones.btnActualizar"
        >
          <mat-icon>update</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="warn"
          (click)="limpiarVista()"
          matTooltip="Limpiar vista"
          matTooltipPosition="above"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="formulario" class="row justify-content-center align-items-center">
        <mat-form-field appearance="outline" class="col-lg-6">
          <mat-label>Nombre del Tipo de documento</mat-label>
          <input matInput placeholder="Escribir..." formControlName="nombre" required/>
          <mat-icon matSuffix>meeting_room</mat-icon>
          <mat-error *ngIf="this.formControl().nombre.hasError('required')">Campo nombre es requerido.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-lg-3">
            <mat-label>Consecutivo</mat-label>
            <input matInput placeholder="Escribir..." formControlName="consecutivo" required/>
            <mat-icon matSuffix>number</mat-icon>
            <mat-error *ngIf="this.formControl().consecutivo.hasError('required')">Campo nombre es requerido.</mat-error>
          </mat-form-field>
        <div class="col-lg-3" *ngIf="_botones.botones.btnActualizar">
          <mat-checkbox formControlName="estado">{{this.formControl().estado.value ? 'Deshabilitar registro' : ' Registro habilitado'}}</mat-checkbox>
        </div>
      </form>
    </div>
  </div>
  
  <div class="contenedor-tabla" *ngIf="dataSource.data.length > 0">
    <mat-form-field appearance="standard">
      <mat-label>Buscar Tipo de documento</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar" #input>
    </mat-form-field>
    <div class="card shadow-sm ">
      <table mat-table [dataSource]="dataSource" >
    
      
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre Tipo de documento</th>
          <td mat-cell *matCellDef="let element"> {{element.nombre | titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="consecutivo">
            <th mat-header-cell *matHeaderCellDef>Consecutivo</th>
            <td mat-cell *matCellDef="let element"> {{element.consecutivo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="seleccionar">
          <th mat-header-cell *matHeaderCellDef>Editar Registro</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="setEditarTiposDocumento(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No se encontraron datos en la busqueda. " {{input.value}} "</td>
        </tr>
      </table>
      <mat-paginator [length]="dataSource.data.length" [pageSize]="4" [pageSizeOptions]="[3]" hidePageSize></mat-paginator>
    </div>
  </div>
