<div class="card shadow-sm animate__animated animate__fadeIn" *ngIf="this.formulario.valid">
  <div
    class="card-header bg-primary bg-gradient text-white d-flex justify-content-between align-items-center"
  >
    EJECUCIÓN DE LA CONSULTA
    <div class="btn-group">
      <button
        mat-mini-fab
        color="primary"
        matTooltip="Guardar información"
        matTooltipPosition="above"
      >
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
  <div class="card-body py-3">
    <form [formGroup]="formulario" class="row align-items-center">
      <div class="col-lg-12 ">
        <div class="d-flex align-items-end">
          <mat-icon color="primary">play_arrow</mat-icon>Datos personales del paciente
        </div>
        <hr>
      </div>
      <mat-form-field appearance="outline" class="col-lg-6">
        <mat-label>Nombre del Paciente</mat-label>
        <input matInput placeholder="Buscar..." formControlName="nombre_paciente" readonly required />
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="this.formControl()['asistencial_paciente_id'].hasError('required')">Campo paciente es requerido.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-3">
        <mat-label>Numero de Identificación</mat-label>
        <input
          matInput readonly
          placeholder="Escribir..."
          formControlName="numero_identificacion"
        />
        <mat-icon matSuffix>numbers</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-3">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput placeholder="Escribir..." formControlName="fecha_nacimiento" readonly/>
        <mat-icon matSuffix>date_range</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-3">
        <mat-label>Residencia Actual</mat-label>
        <input matInput placeholder="Escribir..." formControlName="residencia_actual"/>
        <mat-icon matSuffix>fmd_good</mat-icon>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="col-lg-3">
        <mat-label>Telefono</mat-label>
        <input matInput placeholder="Escribir..." formControlName="telefono"/>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-3">
        <mat-label>Sexo</mat-label>
        <input matInput placeholder="Escribir..." formControlName="sexo" readonly/>
        <mat-icon matSuffix>tag_faces</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-3">
        <mat-label>Edad</mat-label>
        <input matInput placeholder="Escribir..." formControlName="edad" readonly/>
        <mat-icon matSuffix>pin</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-3">
        <mat-label>Convenio</mat-label>
        <mat-select formControlName="asistencial_convenio_id" required>
          <mat-option value="" selected disabled>Seleccionar</mat-option>
          <mat-option
            [value]="convenio.id"
            *ngFor="let convenio of listadoConvenios"
            >{{ convenio.nombre }}</mat-option
          >
        </mat-select>
        <mat-error
          *ngIf="this.formControl()['asistencial_convenio_id'].hasError('required')"
          >Campo convenio es requerido.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-3">
        <mat-label>Regimen</mat-label>
        <mat-select formControlName="asistencial_regimen_id" required>
          <mat-option value="" selected disabled>Seleccionar</mat-option>
          <mat-option
            [value]="regimen.id"
            *ngFor="let regimen of listadoRegimenes"
            >{{ regimen.nombre }}</mat-option
          >
        </mat-select>
        <mat-error
          *ngIf="this.formControl()['asistencial_regimen_id'].hasError('required')"
          >Campo regimen es requerido.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-lg-6">
        <mat-label>Antecedentes Familiares</mat-label>
        <input matInput placeholder="Escribir..." formControlName="antecedentes_normales" required/>
        <mat-icon matSuffix>quiz</mat-icon>
        <mat-error *ngIf="this.formControl()['antecedentes_normales'].hasError('required')">Campo antecedentes familiares es requerido.</mat-error>
      </mat-form-field>         
  </form>

  </div>
</div>

<div class="contenedor-tabla" *ngIf="dataSource.data.length > 0">
  <mat-form-field appearance="outline">
    <mat-label>Buscar paciente</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Filtrar"
      #input
    />
  </mat-form-field>
  <div class="card shadow-sm">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha de Consulta</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fecha | date }} {{element.hora}}
        </td>
      </ng-container>

      <ng-container matColumnDef="nombre_medico">
        <th mat-header-cell *matHeaderCellDef>Nombre del Medica</th>
        <td mat-cell *matCellDef="let element">
          {{ element.asistencial_medico_primer_nombre | titlecase}} {{ element.asistencial_medico_primer_apellido | titlecase}}
          {{ element.asistencial_medico_segundo_apellido | titlecase}}
        </td>
      </ng-container>

      <ng-container matColumnDef="nombre_paciente">
        <th mat-header-cell *matHeaderCellDef>Nombre del Paciente</th>
        <td mat-cell *matCellDef="let element">
          {{ element.asistencial_paciente_primer_nombre | titlecase}} {{ element.asistencial_paciente_primer_apellido | titlecase}}
          {{ element.asistencial_paciente_segundo_apellido | titlecase}}
        </td>
      </ng-container>

      <ng-container matColumnDef="observacion">
        <th mat-header-cell *matHeaderCellDef>Observación</th>
        <td mat-cell *matCellDef="let element">{{ element.observacion }}</td>
      </ng-container>

      <ng-container matColumnDef="seleccionar">
        <th mat-header-cell *matHeaderCellDef>Seleccionar Registro</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="primary"
            (click)="getConsultaMedica(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No se encontraron datos en la busqueda. " {{ input.value }} "
        </td>
      </tr>
    </table>
    <mat-paginator
      [length]="dataSource.data.length"
      [pageSize]="4"
      [pageSizeOptions]="[3]"
      hidePageSize
    ></mat-paginator>
  </div>
</div>
