.card-empresa {
    animation: fadeIn;
    animation-duration: 1s;
    background: transparent url(../../../../assets/images/img-company-medic.png)
      no-repeat;
    background-size: contain;
    background-position: center right;
  }
