<!--==========================
    BANNER
============================-->
<section class="banner">
    <div class="container">
      <div class="row justify-content-center align-items-center text-white">
        <div class="col-lg-8 py-5 text-center">
            <h2 class="h2 text-capitalize">Razones para preferirnos</h2>
            <hr class="dropdown-divider">
            <p class="fs-6">
                Con nuestra solución podrás atender oportunamente, centrando tu atención en el paciente y 
                no en las características de un software complejo y tedioso, hazlo con ASISTENMED de la manera más ágil.
            </p>
        </div>
      </div>
    </div>
  </section>

  
<!--==========================
    SERVICIOS OFERTADOS
============================-->
<section class="mt-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 card bg-primary bg-opacity-10 p-1">
                <ul class="nav nav-pills d-flex justify-content-around" id="pills-tab" role="tablist">
                    <li class="nav-item " role="presentation">
                      <button class="nav-link active bg-primary text-capitalize" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">historia clínica</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link bg-primary text-capitalize" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Datos básicos del paciente</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link bg-primary text-capitalize" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">administradoras</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <section class="my-5">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-6  mb-3">
                                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/-rbyWJD7A1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="col-md-6">
                                    <h2 class="h2 text-primary text-capitalize">historia clínica</h2>
                                    <hr class="dropdown-divider">
                                    <p>
                                        Somos una Sociedad, especializada en el campo quirúrgico con experiencia en el manejo de la cirugía
                                        ambulatoria y laparoscópica, con sede en la ciudad de Barranquilla, localizados en el centro Médico
                                        Continental epicentro de la medicina especializada de la ciudad,
                                        con instalaciones modernas, habilitadas y certificadas en el manejo del paciente ambulatorio.
                                    </p>
                                    <p>
                                        Las nuevas tecnologías han permitido modificar de manera satisfactoria el concepto de
                                        atención quirúrgica integral, al punto de que, sin arriesgar las más exigentes normas de seguridad y calidad,
                                        se puede realizar en un 70% o más la mayoría de las cirugías programadas,
                                        en forma ambulatoria disminuyendo así la estancia hospitalaria y la movilidad de los pacientes.
                    
                                    </p>
                                    <a href="/acerca_de" mat-raised-button color="primary" class="w-50 py-1 text-uppercase">Comienza Gratis!</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <section class="my-5">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-6 mb-3 order-2">
                                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/-rbyWJD7A1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="col-md-6 order-1">
                                    <h2 class="h2 text-primary text-capitalize">historia clínica</h2>
                                    <hr class="dropdown-divider">
                                    <p>
                                        Somos una Sociedad, especializada en el campo quirúrgico con experiencia en el manejo de la cirugía
                                        ambulatoria y laparoscópica, con sede en la ciudad de Barranquilla, localizados en el centro Médico
                                        Continental epicentro de la medicina especializada de la ciudad,
                                        con instalaciones modernas, habilitadas y certificadas en el manejo del paciente ambulatorio.
                                    </p>
                                    <p>
                                        Las nuevas tecnologías han permitido modificar de manera satisfactoria el concepto de
                                        atención quirúrgica integral, al punto de que, sin arriesgar las más exigentes normas de seguridad y calidad,
                                        se puede realizar en un 70% o más la mayoría de las cirugías programadas,
                                        en forma ambulatoria disminuyendo así la estancia hospitalaria y la movilidad de los pacientes.
                    
                                    </p>
                                    <a href="/acerca_de" class="btn btn-primary text-white">Comienza Gratis!</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <section class="my-5">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-6  mb-3">
                                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/-rbyWJD7A1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="col-md-6">
                                    <h2 class="h2 text-primary text-capitalize">historia clínica</h2>
                                    <hr class="dropdown-divider">
                                    <p>
                                        Somos una Sociedad, especializada en el campo quirúrgico con experiencia en el manejo de la cirugía
                                        ambulatoria y laparoscópica, con sede en la ciudad de Barranquilla, localizados en el centro Médico
                                        Continental epicentro de la medicina especializada de la ciudad,
                                        con instalaciones modernas, habilitadas y certificadas en el manejo del paciente ambulatorio.
                                    </p>
                                    <p>
                                        Las nuevas tecnologías han permitido modificar de manera satisfactoria el concepto de
                                        atención quirúrgica integral, al punto de que, sin arriesgar las más exigentes normas de seguridad y calidad,
                                        se puede realizar en un 70% o más la mayoría de las cirugías programadas,
                                        en forma ambulatoria disminuyendo así la estancia hospitalaria y la movilidad de los pacientes.
                    
                                    </p>
                                    <a href="/acerca_de" class="btn btn-primary text-white">Comienza Gratis!</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
              </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="container">
        <div class="row text-center">
            <h2 class=" h2 text-primary text-capitalize text-center fw-normal">Somos tu mejor herramienta</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tempore odio beatae error praesentium molestiae cupiditate aspernatur alias voluptas accusantium.</p>
            <hr class="dropdown-divider">
        </div>
        <div class="row mt-5">
            <div class="col-md-4 mb-3">
                <div class="d-flex">
                    <mat-icon class="text-warning"  style="font-size: 50px;">warning_amber</mat-icon>
                    <h3 class="text-primary text-capitalize mb-1">Menor riesgo de infección intrahospitalaria</h3>
                    <p>Debido al alta temprana y el manejo de profilaxis en el preoperatorio se disminuyen las posibilidades del riesgo de infección.</p>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="media">
                    <mat-icon class="text-warning"  style="font-size: 50px;">attach_money</mat-icon>
                    <h3 class="text-primary text-capitalize mb-1">Disminución de costo</h3>
                    <p>La optimización de recursos, seguimiento de protocolos y manejo de un equipo multidisciplinario conlleva a reducir costos sin disminuir la calidad del servicio.</p>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="media">
                    <mat-icon class="text-warning"  style="font-size: 50px;">group_add</mat-icon>
                    <h3 class="text-primary text-capitalize mb-1">Reintegro temprano al núcleo familiar</h3>
                    <p>La recuperación en casa del paciente conlleva a involucrar a la familia en la pronta recuperación del paciente, disminuyendo la ansiedad causada por la movilización del entorno familiar a una clínica.</p>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="media">
                    <mat-icon class="text-warning"  style="font-size: 50px;">thumb_up_off_alt</mat-icon>
                    <h3 class="text-primary text-capitalize mb-1">Mejoría en la relación Medico-Institución-Paciente</h3>
                    <p>Siempre va a existir un contacto del paciente con su médico y con la institución a través del programa de atención en casa.</p>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="media">
                    <mat-icon class="text-warning"  style="font-size: 50px;">warning_amber</mat-icon>
                    <h3 class="text-primary text-capitalize mb-1">Menor riesgo de infección intrahospitalaria</h3>
                    <p>Debido al alta temprana y el manejo de profilaxis en el preoperatorio se disminuyen las posibilidades del riesgo de infección.</p>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="media">
                    <mat-icon class="text-warning"  style="font-size: 50px;">attach_money</mat-icon>
                    <h3 class="text-primary text-capitalize mb-1">Disminución de costo</h3>
                    <p>La optimización de recursos, seguimiento de protocolos y manejo de un equipo multidisciplinario conlleva a reducir costos sin disminuir la calidad del servicio.</p>
                </div>
            </div>
        </div>
    </div>
</section>

  
 



