<!--==========================
    BANNER
============================-->
<section class="banner">
  <div class="container">
    <div class="row justify-content-center align-items-center text-white">
      <div class="col-lg-8 py-5 text-center">
        <h2 class="h2 text-capitalize">revista digital</h2>
        <hr class="dropdown-divider">
        <p class="fs-6">
            Con nuestra solución podrás atender oportunamente, centrando tu atención en el paciente y 
            no en las características de un software complejo y tedioso, hazlo con ASISTENMED de la manera más ágil.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-8">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4 col-12 ">
                    <div class="contenedor-img">
                      <img src="../../../assets/images/img-instrumentadora.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-md-8 col-12">
                    <div class="card-body">
                      <h2 class="card-title text-warning">Misión Médica SAS</h2>
                      <p class="card-text">
                        Diagnóstico y manejo del cáncer ginecológico, lesiones premalignas del tracto genital inferior, Terapia de reemplazo hormonal.
                        Diagnóstico y manejo del cáncer ginecológico, lesiones premalignas del tracto genital inferior, Terapia de reemplazo hormonal.
                        Diagnóstico y manejo del cáncer ginecológico, lesiones premalignas del tracto genital inferior, Terapia de reemplazo hormonal.
                      </p>
                      <p class="card-text">
                          <span class="d-flex align-items-start align-items-sm-end align-items-md-end">
                              <mat-icon class="text-primary">location_on</mat-icon> Calle 80 No. 49B - 22 | Alto Prado | Barranquilla, Colombia
                          </span>
                          <span class="d-flex align-items-start align-items-sm-end align-items-md-end">
                              <mat-icon class="text-primary">phone</mat-icon> +57 3213044576 | 3213044576
                          </span>
                        </p>
                      <p class="card-text"><small class="text-muted">(Ginecólogo oncólogo, Centros médicos)</small></p>
                      <div class="text-end">
                        <a href="http://" target="_blank" >
                          <mat-icon class="text-primary" matTooltip="Ir a WhatsApp">whatsapp</mat-icon> &nbsp;
                        </a>
                        <a href="http://" target="_blank" >
                          <mat-icon class="text-primary" style="cursor: pointer;" matTooltip="Ir a Facebook">facebook</mat-icon> &nbsp;
                        </a>
                        <a href="http://" target="_blank" >
                          <mat-icon class="text-warning" style="cursor: pointer;" matTooltip="Ir al Sitio Web">public</mat-icon> &nbsp;
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3 rounded-0">
                <div class="row g-0">
                  <div class="col-md-4 col-12 ">
                    <div class="contenedor-img">
                      <img src="../../../assets/images/img-instrumentadora.jpg" alt="">
                    </div>                  
                  </div>
                  <div class="col-md-8 col-12">
                    <div class="card-body">
                      <h2 class="card-title text-warning">Misión Médica SAS</h2>
                      <p class="card-text">
                        Diagnóstico y manejo del cáncer ginecológico, lesiones premalignas del tracto genital inferior, Terapia de reemplazo hormonal.
                        Diagnóstico y manejo del cáncer ginecológico, lesiones premalignas del tracto genital inferior, Terapia de reemplazo hormonal.
                      </p>
                      <p class="card-text">
                          <span class=" d-flex align-items-start align-items-sm-end align-items-md-end ">
                              <mat-icon class="text-primary">location_on</mat-icon> Calle 80 No. 49B - 22 | Alto Prado | Barranquilla, Colombia
                          </span>
                          <span>
                              <mat-icon class="text-primary">phone</mat-icon> +57 3213044576 | 3213044576

                          </span>
                        </p>
                      <p class="card-text"><small class="text-muted">(Ginecólogo oncólogo, Centros médicos)</small></p>
                      <div class="text-end">
                        <a href="http://" target="_blank" >
                          <mat-icon class="text-primary" matTooltip="Ir a WhatsApp">whatsapp</mat-icon> &nbsp;
                        </a>
                        <a href="http://" target="_blank" >
                          <mat-icon class="text-primary" style="cursor: pointer;" matTooltip="Ir a Facebook">facebook</mat-icon> &nbsp;
                        </a>
                        <a href="http://" target="_blank" >
                          <mat-icon class="text-warning" style="cursor: pointer;" matTooltip="Ir al Sitio Web">public</mat-icon> &nbsp;
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3 rounded-0">
                <div class="row g-0">
                  <div class="col-md-4 col-12 ">
                    <div class="contenedor-img">
                      <img src="../../../assets/images/img-instrumentadora.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-md-8 col-12">
                    <div class="card-body">
                      <h2 class="card-title text-warning">Misión Médica SAS</h2>
                      <p class="card-text">
                        Diagnóstico y manejo del cáncer ginecológico, lesiones premalignas del tracto genital inferior, Terapia de reemplazo hormonal.
                      </p>
                      <p class="card-text">
                          <span class=" d-flex align-items-start align-items-sm-end align-items-md-end ">
                              <mat-icon class="text-primary">location_on</mat-icon> Calle 80 No. 49B - 22 | Alto Prado | Barranquilla, Colombia
                          </span>
                          <span>
                              <mat-icon class="text-primary">phone</mat-icon> +57 3213044576 | 3213044576

                          </span>
                        </p>
                      <p class="card-text"><small class="text-muted">(Ginecólogo oncólogo, Centros médicos)</small></p>
                      <div class="text-end">
                        <a href="http://" target="_blank" >
                          <mat-icon class="text-primary" matTooltip="Ir a WhatsApp">whatsapp</mat-icon> &nbsp;
                        </a>
                        <a href="http://" target="_blank" >
                          <mat-icon class="text-primary" style="cursor: pointer;" matTooltip="Ir a Facebook">facebook</mat-icon> &nbsp;
                        </a>
                        <a href="http://" target="_blank" >
                          <mat-icon class="text-warning" style="cursor: pointer;" matTooltip="Ir al Sitio Web">public</mat-icon> &nbsp;
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
              <div class="col-12 mb-3">
                  <p class="text-primary text-capitalize d-flex align-items-end"><mat-icon>add</mat-icon> ubicación</p>
                  <div class="list-group" style="font-size: 14px">
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i> Barranquilla - Atlántico, Colombia</a>
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i> Soledad - Atlántico, Colombia</a>
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i> Malambo - Atlántico, Colombia</a>
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i> Sabanalarga - Atlántico, Colombia</a>
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i> Santo Tomas - Atlántico, Colombia</a>
                  </div>
              </div>
              <div class="col-12 mb-3">
                  <p class="text-primary text-capitalize d-flex align-items-end"><mat-icon>add</mat-icon> Especialidades medicas</p>
                  <div class="list-group" style="font-size: 14px">
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i> Cirugía General</a>
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i> Cirugía Pediatrica</a>
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i> Ginecología</a>
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i> Cirugía Plastica</a>
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i> Procedimientos Para la Obesidad</a>
                      <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-angle-right" aria-hidden="true"></i> Otorrinolaringología</a>
                  </div>
              </div>
             
          </div>
      </div>
  </div>

    
</div>
