

<div>
  <img src="../../../assets/images/img-wave-footer.svg" alt="" class="img-fluid">
</div>
<footer class="bg-light">
  <!--==========================
    CONTACTO
============================-->
<section class="form-contacto">
  <div class="container">
      <div class="row">
          <div class="col-lg-7">
              <div class="card bg-light border-0" >
                  <div class="card-body">
                      <div class="card-title">
                          <h2 class="h2 text-capitalize text-primary">Contactate Con Nosotros</h2>
                          <hr class="dropdown-divider">
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores praesentium, rerum, 
                              tempora cupiditate consectetur libero eveniet, nobis animi culpa omnis rem aut a quis unde?</p>
                      </div>
                        
                      <form action="" class="row align-items-center">
                        
                          <mat-form-field appearance="outline" class="col-lg-6">
                              <mat-label>Nombre Completo</mat-label>
                              <input
                                  matInput
                                  placeholder="Escribir..."
                              />
                              <mat-icon matSuffix>person</mat-icon>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="col-lg-6">
                            <mat-label>Especialidad del Consultorio</mat-label>
                            <input
                                matInput
                                placeholder="Escribir..."
                            />
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
  
                          <mat-form-field appearance="outline" class="col-lg-6">
                              <mat-label>Telefono</mat-label>
                              <input matInput placeholder="Escribir..." />
                              <mat-icon matSuffix>phone</mat-icon>
                            </mat-form-field>
  
                            <mat-form-field appearance="outline" class="col-lg-6">
                              <mat-label>Correo Electrónico</mat-label>
                              <input matInput placeholder="Escribir..." />
                              <mat-icon matSuffix>mail_outline</mat-icon>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="col-lg-12">
                            <mat-label>Comentario</mat-label>
                            <textarea matInput></textarea>
                          </mat-form-field>

                        </form>
                        <button type="button" mat-raised-button color="warn" class="py-1 text-uppercase mb-3" >Enviar Información!</button>
                    
                  </div>
              </div>
          </div>
          <div class="col-lg-5 text-center">
              <img src="../../../assets/images/img-form-contacto.png" alt="" class="img-fluid">
          </div>
      </div>
  </div>
</section>
<hr class="dropdown-divider"> 
  <div class="container-sm pb-4 mt-5">
    <div class="row">
      <div class="col-md-4">
        <a routerLink="/" class="navbar-brand">
          <img
            src="../../../assets/images/asistenmed-logo/logo-nombre-blanco-512px.png"
            alt="Logo AsistenMed"
            class="img-fluid w-75"
            
          />
        </a>
        <p>
          Con sede en la ciudad de Barranquilla, localizados en el centro Médico
          Continental epicentro de la medicina especializada de la ciudad, con
          instalaciones modernas, habilitadas y certificadas en el manejo del
          paciente ambulatorio.
        </p>
        <div class="text-end">
          <a
            href="https://api.whatsapp.com/send?phone=[+57][3213044576]"
            target="_blank"
          >
            <mat-icon class="text-primary" matTooltip="Ir a WhatsApp"
              >whatsapp</mat-icon
            >
            &nbsp;
          </a>
          <a href="http://" target="_blank">
            <mat-icon
              class="text-primary"
              style="cursor: pointer"
              matTooltip="Ir a Facebook"
              >facebook</mat-icon
            >
            &nbsp;
          </a>
          <a href="http://" target="_blank">
            <mat-icon
              class="text-warning"
              style="cursor: pointer"
              matTooltip="Ir a Visionappweb"
              >public</mat-icon
            >
            &nbsp;
          </a>
        </div>
      </div>

      
      <hr class="dropdown-divider d-md-none"> 

      
      <div class="col-md-2">
        <h4 class="text-uppercase mt-3 mb-4">Mapa de Sitio</h4>
        <p><a href="/"  class="link-dark">Inicio</a></p>
        <p><a routerLink="/preferirnos" class="link-dark">Razones Para Preferirnos</a></p>
        <p><a routerLink="/planes" class="link-dark">Planes y Precios</a></p>
        <p><a routerLink="/revista" class="link-dark">Revista Digital</a></p>
        <p><a routerLink="/login" class="link-dark">Ir a mi cuenta</a></p>
      </div>

      <hr class="dropdown-divider d-md-none"> 
      <div class="col-md-2">
        <!-- Links -->
        <h4 class="text-uppercase mt-3 mb-4">INFORMACIÓN</h4>
        <p><a href="/"  class="link-dark">Política de Privacidad</a></p>
        <p><a href="#!" class="link-dark">Términos y Condiciones</a></p>
        <p><a href="#!" class="link-dark">Acuerdo de Licencia</a></p>
        <p><a href="#!" class="link-dark">Preguntas Frecuentes</a></p>
      </div>
      
      <hr class="dropdown-divider d-md-none"> 
      <div class="col-md-4">
        <!-- Links -->
        <h4 class="text-uppercase mt-3 mb-4">Llámanos</h4>
        <p class="d-flex align-items-center"><mat-icon class="text-primary">local_phone</mat-icon> &nbsp;(+57) 320 4106327 | 321 3044576</p>
        <p class="d-flex align-items-center"><mat-icon class="text-primary">schedule</mat-icon> &nbsp;Lunes a Sábados de 08:00 a 18:00 hrs</p> 
        <p class="d-flex align-items-center"><mat-icon class="text-primary">mail_outline</mat-icon> &nbsp;atcliente@visionappweb.com</p>
        <p class="d-flex align-items-center"><mat-icon class="text-primary">room</mat-icon> &nbsp;Barranquilla - Atlántico</p>
      </div>
    </div>
  </div>
  
  <div class="text-center py-3" style="background-color: rgba(0, 0, 0, 0.2)">
    &copy;{{ fecha.getFullYear() }}, Visionappweb S.A.S. | Software de Gestión | Todos los derechos reservados
  </div>
</footer>

